<div class="slide" id="header-{{ counter }}" data-content="content-{{ counter }}">
<div class="img-wrap"><img src="{{ post.backgroundimage }}" alt="img1"/></div>


<h2>{{ post.headermain }}<span>{{ post.headerlead }}</span></h2>
<button class="content-switch">Read more</button>
</div>
