<div class="slide" id="{{ post.headermain | url_encode | lower }}" data-content="content-{{ counter }}">
  <div class="img-wrap"><img src="{{ post.backgroundimage }}" alt="img1"/></div>
  {% if counter > 1 %}
    <button class="header-switch left-button">left</button>
  {% endif %}
  {% if counter < loop.length %}
    <button class="header-switch right-button">Right</button>
  {% endif %}
  <h2>{{ post.headermain }}<span>{{ post.headerlead }}</span></h2>
  <div class="content-switch-background"></div>
  <button class="content-switch">Read more</button>
</div>
