<div class="slide" id="header-{{ counter }}" data-content="content-{{ counter }}">
  <div class="img-wrap"><img src="{{ post.backgroundimage }}" alt="img1"/></div>
  {% if counter > 1 %}
    <button class="header-switch leftbutton">left</button>
  {% endif %}
  {% if counter < loop.length %}
    <button class="header-switch rightbutton">Right</button>
  {% endif %}
  <h2>{{ post.headermain }}<span>{{ post.headerlead }}</span></h2>
  <button class="content-switch">Read more</button>
</div>
