<article class="itk-boxlist--item">
  <header>
    <h2 class="itk-boxlist--header--header"><a href="{{ site.url }}{{ post.url }}" class="itk-boxlist--link">{{ post.title }}</a></h2>
    <p class="itk-boxlist--type">{{ post.type }}
    </p>
    <div>
            <span class="node-readmore">
          <a href="{{ site.url }}{{ post.url }}" rel="tag" title="{{ post.title }}" hreflang="en">Læs mere<span class="visually-hidden">this is hidden</span></a>
            </span>
    </div>
  </header>
  <figure>
    <a href="{{ site.url }}{{ post.url }}">
      <img src="{{ post.image }}" width="200" height="200" alt>
    </a>
  </figure>
</article>