<div class="content" id="{{ post.headermain | url_encode | lower }}" data-content="content-{{ counter }}">
  <h2>{{ post.headermain }} <span>{{ post.headerlead }}</span></h2>
  <p>{{ post.blocks.content|raw }}</p>
</div>
