---
layout: frontpage
title: Header
subtitle: this is a subtitle
buttontext: look at me
headerimage: https://unsplash.it/3200/2400/?random
generator: pagination
pagination:
max_per_page: 4
use:
- posts
---


<div class="frontpage">
    {% set insertissidebyside = 'true' %}
    <p class="lead">This title is static on the front page</p>
    {% for post in page.pagination.items | slice(0,4) %}


    {% if insertissidebyside =='true' %}
    <div class="itk-boxlist is-side-by-side">
        {% set insertissidebyside = 'false' %}
        {% else %}
        {% set insertissidebyside = 'true' %}
        {% endif %}
        {% include 'includes/_newsbox.html' ignore missing %}
        {% if insertissidebyside == 'true' %}
    </div>
    {% endif %}

    {% endfor %}

    <div class="frontpage--more-link">
      <span class="frontpage--more-button"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
<path d="M501.4,396L501.4,396L501.4,396L193.6,700.3l-86.4-86.4L325,396L107.2,178.2l86.4-86.4L501.4,396z"></path>
</svg>
        <a href="{{ site.url }}/nyheder">Se alle nyheder</a>
      </span>
    </div>


</div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}<br />
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}<br />
    </nav>
{% endif %}
